@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Teko:700');

html {
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
  background-color: #FFDC00;
	color: black;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	padding-top: 40px;
	max-width: 75%;
	margin: 0 auto;
}

.btn {
	padding: 10px 15px;
	font-size: 1.2rem;
	font-weight: 700;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4%;
	border: 1px solid rgba(0, 0, 0, 0.6);
	color: black;
	background: transparent;
}

.btn:hover {
	background: black;
	color: yellow;
}

header {
	background: rgba(0,0,0,1);
	min-height: 50px;
	text-align: center;
}

h1, h2 {
	font-family: 'Teko', sans-serif;
	font-size: 3rem;
	line-height: 50px;
	margin: 0;
	text-transform: uppercase;
	color: yellow;
}

main > h2 {
	color: black;
}

.wrap {
	margin-bottom: 5%;
	padding: 15px;
	min-height: 250px;
	font-size: 1.4rem;
	background: rgba(255,255,255,0.3);
	box-shadow: inset 1px 2px 5px 4px rgba(0,0,0,.2);
	overflow: auto;
}

.form-group {
	width: 100%;
}

.form-control label {
	display: block;
	font-family: 'Teko', sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.form-control input[type="text"],
.form-control textarea {
	width: 100%;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	background: transparent;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.4);
	outline: none;
	transition: all .6s ease-in-out;
}

.form-control input:hover,
.form-control textarea:hover {
	background: #CD2548;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 50px;
	background: rgba(0,0,0,1);
	color: yellow;
}

footer p {
	font-size: 1.6rem;
	text-transform: uppercase;
	text-align: right;
	padding-right: 15px;
}
